#haut{
	min-height: 400px;
	background-repeat: no-repeat;
}
#haut img{
	width: 100%;
	height: 600px;
	z-index: 1;
}
#haut b{
	z-index: 2;
	position: absolute;
	top: 30%;
	left: 32%;
	font-size: 500%;
	color: #2ecc71;
}
#nav{
	background-color: #2ecc71;
	text-align: center;
	padding: 30px;
}
#nav a:hover{
	color: black;
} 
#nav button{
	min-width: 16%;
	background-color: #2ecc71;
	border: none;
	font-size: 2em;
}
#accueil,#potager,#direct,#a_propos,#donnees,#partenaires{
	padding: 50px;
}
#accueil img{
	height: 300px;
	width: 500px;
	margin:50px;
}
#accueil .bloc{
	border : 2px grey solid;
	border-radius: 20px;
	display: inline-flex;
	margin: 25px 0 25px 0;
}
#accueil div div{
	/*border: solid red 2px;*/
}
#accueil .texte1,#accueil .texte3{
	min-width: 750px;
	margin: 50px 50px 50px 0; 
}
#accueil .texte2{
	margin: 50px 0 50px 50px;
	min-width: 750px;
}
.grid {
  display : grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
}

.element {
  margin: 10px;
  padding : 20px;
  background-color : green; 
}
#direct #vidéo,#direct #choix{
	height: 600px;
	border: 2px solid blue;
	margin: 50px;
}
#a_propos section{
	text-align: center;
	padding: 20px;
	background-color: lightgrey;
	margin: 10px;
}
footer input{
	padding: 5px;
	margin :10px;
}
#accueil,#direct,#donnees{
	background-color: #dfe6e9;
}
footer{
	background-color: #2ecc71;
}
footer .bouton{
	width: 30%;
	margin-left: 25%
}